@using Model.EF
@using Model.Dao
@using PagedList.Mvc
@model PagedList.PagedList<Model.EF.Product>
@{
    ViewBag.Title = "Yezzy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="page-head">
</div>
<div class="grid_3 grid_5 wow fadeInLeft animated" data-wow-delay=".5s">
    <ol class="breadcrumb">
        <li><a href="/">Trang chủ</a></li>
        <li><a href="/san-pham">Sản phẩm</a></li>
        <li><a href="/yeezy">Yeezy</a></li>
    </ol>
</div>
<div class="container">
    <h3 style="color: #FDA30E; text-align: center; text-transform: uppercase; font-size: 48px;padding-top:50px">Yeezy</h3>
</div>
<div class="men-wear">
    <div class="container">
        <div class="col-md-4 products-left">
        </div>
        <div class="col-md-8 products-right">
        </div>
        <div class="clearfix"></div>
        <div class="single-pro">
            @foreach (var item in Model)
            {
                var url = "/chi-tiet/" + item.MetaTitle + "-" + item.ID;
                <div class="col-md-3 product-men yes-marg">
                    <div class="men-pro-item simpleCart_shelfItem">
                        <div class="men-thumb-item">
                            <a href="@url"><img src="@item.Image" alt="@item.Name" class="pro-image-front"></a>
                            <a href="@url"><img src="@item.Image" alt="@item.Name" class="pro-image-back"></a>
                            <div class="men-cart-pro">
                                <div class="inner-men-cart-pro">
                                    <a href="@url" class="link-product-add-cart">Chi tiết</a>
                                </div>
                            </div>
                        </div>
                        <div class="item-info-product ">
                            <h4><a href="@url">@item.Name</a></h4>
                            <div class="info-product-price">
                                <p><span class="item_price">@(item.Price.HasValue ? item.Price.Value.ToString("N0") : "Liên hệ")  VNĐ</span></p>
                            </div>
                            <div class="occasion-cart">
                                <a href=@Url.Action("AddItem", "Cart", new { @productId = item.ID, @quantity=1, @strURL = Request.Url.ToString()}) class="item_add single-item hvr-outline-out button2">Thêm vào giỏ</a>
                            </div>
                        </div>
                    </div>
                </div>
            }

            <div class="clearfix"></div>
        </div>
        <div class="pagination-grid text-right">
            <ul class="pagination paging">
                <div class="row">
                    @Html.PagedListPager(Model, page => Url.Action("/", new { page = page }))
                </div>
            </ul>
        </div>
    </div>
</div>

