@model List<OnlineShop.Models.CartItem>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section jsFooter{

    <script src="/assets/client/js/controller/cartController.js"></script>
}

<div class="container">
    <h3 style="color: #FDA30E; text-align: center; text-transform: uppercase; font-size: 48px;padding-top:50px">Giỏ hàng</h3>
</div>
<div class="checkout">
    <div class="container">
        <h3>Giỏ hàng của tôi</h3>
        <div class="table-responsive checkout-right animated wow slideInUp" data-wow-delay=".5s">
            @if (Model.Count > 0)
            {
                <table class="timetable_sub">
                    <thead>
                        <tr>
                            <th>Mã SP</th>
                            <th>Tên SP</th>
                            <th>Ảnh SP</th>
                            <th>Số lượng</th>
                            <th>Đơn giá</th>
                            <th>Thành tiền</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.Product.ID</td>
                                <td>@item.Product.Name</td>
                                <td><img src="@item.Product.Image" width="100" /></td>
                                <td><input type="text" class="txtQuantity" data-id="@item.Product.ID" value="@item.Quantity" /></td>
                                <td>@item.Product.Price.GetValueOrDefault(0).ToString("N0")</td>
                                <td>@((item.Product.Price.GetValueOrDefault(0) * item.Quantity).ToString("N0"))</td>
                                <td><a href="#" data-id="@item.Product.ID" class="btn-delete">Xoá</a></td>
                            </tr>
                        }

                    </tbody>
                </table>
                <div class="checkout-left">
                    <div class="checkout-right-basket animated wow slideInRight" data-wow-delay=".5s">
                        <button id="btnContinue" style="padding: 10px 30px; color: #fff; font-size: 1em; background: #212121; text-decoration: none">Tiếp tục mua hàng</button>
                        <button id="btnUpdate" style="padding: 10px 30px; color: #fff; font-size: 1em; background: #212121; text-decoration: none">Cập nhật giỏ hàng</button>
                        <button id="btnDeleteAll" style="padding: 10px 30px; color: #fff; font-size: 1em; background: #212121; text-decoration: none">Xoá giỏ hàng</button>
                        <button id="btnPayment" style="padding: 10px 30px; color: #fff; font-size: 1em; background: #212121; text-decoration: none">Thanh toán</button>
                    </div>
                </div>
            }
            else
            {
                <span class="alert alert-danger">Chưa có sản phẩm nào trong giỏ hàng</span>
            }
        </div>

    </div>
</div>
