@model OnlineShop.Models.LoginModel

@{ ViewBag.Title = "Login";
     }



<!DOCTYPE html>
<html>

<head>
    <title>The Login-Animated Website Template | Home :: w3layouts</title>
    <meta charset="utf-8">
    <link href="/assets/client/css/style2.css" rel='stylesheet' type='text/css' />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!--webfonts-->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:600italic,400,300,600,700' rel='stylesheet' type='text/css'>
    <!--//webfonts-->
</head>
<body>

    <!-----start-main---->
    <div class="login-form">
        <div class="head">
            <img src="~/assets/client/Image/mem.png" alt="" />

        </div>
        @using (Html.BeginForm("Login", "User", FormMethod.Post))
        {
             @Html.AntiForgeryToken()
    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <div class="col-md-10">
                <a href="#" class=" icon user"></a>
                @Html.TextBoxFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-10">
                @Html.PasswordFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })<a href="#" class=" icon lock"></a>
                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
            <div class="p-container">
                <label class="checkbox"><input type="checkbox" name="checkbox" checked><i></i>Remember Me</label>
                <input type="submit" value="Đăng nhập" class="btn btn-default" />
                <div class="clear"> </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">

                    <a href="/dang-ky" class="btn btn-default"> Đăng ký</a> <br />
                    <a class="btn btn-primary" style="background-color: #3b5998;" href="#!" role="button">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                </div>
            </div>}

        </div>

</body>
</html>

